:root {
	--low-emphasis: rgba(0, 0, 0, 0.38);
	--mid-emphasis: rgba(0, 0, 0, 0.6);
	--high-emphasis: rgba(0, 0, 0, 0.87);
	--separator: rgba(0, 0, 0, 0.2);
	--bg-color: #ffffff;
	--baseball-background: #284637;
	--tab-bar-bg: #eeeeee;
	--key-color: #0099eb;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #1c1c1c;
		--low-emphasis: rgba(255, 255, 255, 0.38);
		--mid-emphasis: rgba(255, 255, 255, 0.6);
		--high-emphasis: rgba(255, 255, 255, 0.87);
		--separator: rgba(255, 255, 255, 0.2);
		--tab-bar-bg: #1d1d1d;
	}
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	/* ダブルタップズーム無効 */
	touch-action: manipulation;
	/* テキスト選択無効 */
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	background-color: var(--bg-color);
	font-size: 15px;
	color: var(--high-emphasis);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.fade-card--enter {
	opacity: 0;
}

.fade-card--enter-active {
	transition: all .2s ease;
	opacity: 1;
}

.fade-card--exit {
	opacity: 1;
}

.fade-card--exit-active {
	transition: all .2s ease;
	opacity: 0;
}

.border-white {
	filter: drop-shadow(1px 1px 1px white) drop-shadow(-1px -1px 1px white) drop-shadow(1px -1px 1px white) drop-shadow(-1px 1px 1px white) drop-shadow(1px 0px 1px white) drop-shadow(-1px 0px 1px white) drop-shadow(0px 1px 1px white) drop-shadow(0px -1px 1px white);
}

.border-black {
	filter: drop-shadow(1px 1px 1px black) drop-shadow(-1px -1px 1px black) drop-shadow(1px -1px 1px black) drop-shadow(-1px 1px 1px black) drop-shadow(1px 0px 1px black) drop-shadow(-1px 0px 1px black) drop-shadow(0px 1px 1px black) drop-shadow(0px -1px 1px black);
}